* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f5f8;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  background-color: antiquewhite;
  box-shadow: 0 0 5px #eee;
  height: 200px;
  width: 170px;
  display: inline-block;
  margin: 1rem;
  padding-top: 1rem;
}

.card img {
  width: 90%;
  align-items: center;
  margin-left: 0.5rem;
  margin-top: 1rem;
}
.animalList {
  width: 90vh;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
}
@media screen and (min-width: 768px) {
  .animalList {
    grid-template-columns: repeat(3, 1fr);
  }
}
